@import 'bourbon/bourbon';
$visual-grid: false;
@import 'neat/neat';

*,
*::before,
*::after {
  box-sizing: border-box;
}










.header {
  background-color: rgb(245, 245, 245);
  border-bottom: 1px solid rgb(229, 229, 229);
  height: 50px;
  width: 1025px;

}


.main {

  background-color: #9c9;
  float: right;
  height: 500px;
  width: 700px;

}

.sidebar {

  background-color: #c9c;
  float: left;
  height: 500px;
  width: 300px;


}
